<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pokemon</title>
</head>
<body>
    <form method="post" action="addNewPokemon">
        <label for="id">id</label><br>
        <input type="text" id="id" name="id"><br>
        <label for="attack">attack</label><br>
        <input type="number" id="attack" name="attack"><br>
        <label for="defence">defence</label><br>
        <input type="number" id="defence" name="defence"><br>
        <label for="hp">hp</label><br>
        <input type="number" id="hp" name="hp"><br>
        <label for="name">name</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="primary">primary type</label><br>
        <input type="text" id="primary" name="primary"><br>
        <label for="secondary">secondary type</label><br>
        <input type="text" id="secondary" name="secondary"><br>
        <label for="specialattack">special attack</label><br>
        <input type="number" id="specialattack" name="specialattack"><br>
        <label for="specialdefence">special defence</label><br>
        <input type="number" id="specialdefence" name="specialdefence"><br>
        <label for="speed">secondary type</label><br>
        <input type="number" id="speed" name="speed"><br>
        <input type="submit">

    </form>

</body>
</html>